body {
  margin: 0;
  font-style: sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
}

/* Estructura general */
.contenedor-section {
  max-width: 1200px;
  margin: auto;
  padding: 2em 1em;
}

header {
  background-color: #000000;
  color: #ffffff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

.navbar {
  display: inline-flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.nav {
  list-style-type: none;
  display: inline-flex;
  gap: 1em;
  padding: 0;
  margin: 0;
}

.nav a {
  list-style-type: none;
  color: #ffffff;
  padding: 0.3em 1em;
  border-radius: 2px;
  transition: background 0.3 ease;
}

.nav a:hover,
.nav a:active {
  background-color: #e10073;
}

.hero {
  background: linear-gradient(to right, #1a1a1a, #4a4a4a);
  color: #ffffff;
  text-align: center;
  padding: 4em 1em;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.eventos {
  margin-top: 3em;
  margin-bottom: 0;
  text-align: center;
}

.evento-grid {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

.evento-card {
  background-color: #ffffff;
  border-radius: 15px;
  width: 300px;
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.evento-card img {
  width: 100%;
  border-radius: 15px;
}

.btn-comprar {
  display: inline-block;
  margin-top: 1em; /* Espaciado respecto al contenido superior */
  width: auto; /* Permite dimensiones personalizadas */
  background-color: #e10073; /* Fondo color rosado destacado */
  color: #ffffff; /* Texto blanco */
  padding: 0.7em 1.5em; /* Relleno interno */
  border-radius: 30px; /* Bordes redondeados tipo píldora */
  text-decoration: none; /* Sin subrayado */
  font-weight: bold; /* Texto en negrita */
}

.contacto {
  display: flex; /* Organización en línea de los elementos */
  justify-content: space-between; /* Distribuye los bloques a los extremos */
  flex-wrap: wrap; /* Ajusta automáticamente en pantallas pequeñas */
  background-color: #4a4a4a; /* Fondo gris oscuro */
  color: #ffffff; /* Texto blanco */
  margin-bottom: 3em; /* Espaciado inferior */
}

.contacto aside {
  min-width: 250px;
  margin-bottom: 1em;
}

form {
  flex: 1;
  min-width: 250px;
  margin: 2em;
}

form fieldset {
  border: none; /* Elimina el borde exterior del grupo de campos */
  display: flex; /* Activa el modelo de caja flexible */
  flex-direction: column; /* Organiza los elementos en columna */
  gap: 0.5em; /* Aplica espacio entre los campos del formulario */
}

form input,
form select,
form textarea {
  padding: 0.5em;
  border: none;
  border-radius: 10px;
  margin-bottom: 0.5em;
}

button {
  background-color: #e10073;
  color: #ffffff;
  border: none;
  padding: 0.7em;
  margin-top: 1em;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #e10073;
}

.equipo {
  text-align: center;
  padding: 4em 2em;
  background-color: #ffffff;
}

.equipo-grid {
  display: flex;
  justify-content: center;
  gap: 10em;
  flex-wrap: wrap;
  margin-top: 2em;
}

.miembro {
  max-width: 150px;
}

.miembro img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 1em;
}

.footer {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 3em 2em;
}

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
  max-width: 1200px;
  margin: auto;
}

.footer h4 {
  margin-bottom: 0.5em;
  color: #ffffff;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 0.5em;
}

.logo-footer {
  width: 120px;
}

.social-icons a img {
  width: 24px;
  margin-right: 10px;
  gap: 0.8em;
}

.redes {
  display: flex;
  gap: 1.1em; /* puedes subirlo o bajarlo hasta que se vea bien */
}

.btn-ayuda {
  background-color: #e10073;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 20px;
  margin-top: 1em;
}
